/* css variables */
:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --white: #ffff;
  --cloud: #F4F4FD;
  --cornflower: #E7E9FC;
}

.link {
  text-decoration: none;
  color: var(--navyblue);
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

address {
  font-style: normal;
}

/* remove bullet points in lists */
.list {
  list-style: none;
}

.logo {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.web {
  color: var(--iris);
}

.studio {
  color: var(--navyblue);
}

.header-list {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-list :hover,
.header-list :focus,
.header-address :hover,
.header-address :focus  {
  color: var(--iris)
}

.banner-title {
  background-color: var(--navyblue);
  color: var(--white);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.12px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.portfolio-button {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #E7E9FC);
  background: var(--cloud, #F4F4FD);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


.top-text {
  color: var(--navyblue)
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.bottom-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

footer {
  background-color: var(--navyblue);
}

.studio2,
.footer-text {
  color: var(--cloud);
}
